.PlayerView{
    display: flex;
    margin: 5px;
}

.YoutubeView{
    display: flex;
    flex-direction: column;
}

.SubtitleView{

}

.modal{
    position: fixed;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 30rem;
    width: 100%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1), 0px 4px 6px -2px rgba(0,0,0,0.05);
    border-radius: 0.5rem;
    pointer-events: auto;
    border: 1px solid rgba(0,0,0,0.05);
    overflow: hidden;

    background-color: white;

  /* Flexbox 설정 */
    display: grid;
    place-items: center;
    height: auto; /* 필요에 따라 높이 설정 */
}